<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
    <style>
        header, footer{
            background-color: black;
            color: white;
            padding: 10px;
        }
    </style>
</head>
<body>
    <header>
        <h3>Seja bem vindo ao nosso site</h3>
    </header>
    <article>
        <p>Sua incrição foi realizada com sucesso!</p>
        <p>Obrigado por ser cadastrar</p>
    </article>
    <footer>
        <h4>Siga nossas redes sociais</h4>
        <p><a href="">Facebook</a> | <a href="">Instagram</a> | <a href="">Twitter</a></p>
    </footer>
</body>
</html>